body {
    margin: 0;
    /* font-family: Arial, sans-serif; */
    font-family: 'Montez', cursive;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
    padding: 10px 20px;
}

.logo {
    font-family: 'Montez', cursive;
    font-size: 36px;
}

.subheading {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 18px;
}

.center-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
